<!DOCTYPE html>
<html lang="en">
<head>
   
  <title>Dynamic routing Example</title>

  <script src="js/jquery-2.2.3.min.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/angularRouting.js"></script>
  <!-- <srcipt src="js/app.js"></srcipt> -->
  <script src="js/controller.js"></script>
  <link rel="stylesheet" href="style.css">

  <style>
        ul#menu li {
            display:inline;
            padding-left:20px; 
        }
  </style>

</head>

<body ng-app="myApp" ng-controller="HomeController"> 
  
    <table style="width:100%;border: 10px solid black;">  
      <tr>  
          <td><a ng-click="fnGoToPage('home');">Home</a></td>  
          <td><a ng-click="fnGoToPage('1st');">First Page</a></td>  
          <td><a ng-click="fnGoToPage('2nd');">Second Page</a></td>  
          <td><a ng-click="fnGoToPage('3rd');">Third Page</a></td>  
          
      </tr>  
    </table>  
<div  ng-controller="menuController">  
        <center>
            <div  style="padding: 30px">
                <select data-ng-model="master.firstName" ng-options="item.name for item in users"  ></select>       
                    
                </select>
                <input type="button" value="submit" ng-model="myVar" data-ng-click="submit(master)">
                {{master.firstName}}     
            </div>
            <div  ng-show="myVar" ng-controller="viewController"></div>         
                                <ul id="menu">
                                    <li ng-repeat="menu in siteMenu" ><a href="{{menu.text}}"> {{menu.menuname}} </a>
                                    </li>
                                </lu>
            </div>
           
        </center>
</div>


  <div class="pgHolder" style="border: 5px solid black;padding: 30px" ng-view>  
      
  </div>  


<div ng-controller="viewController">
    
        <ul id="menu">
            <li ng-repeat="menu in siteMenu" ><a href="{{menu.text}}"> {{menu.menuname}} </a>
            </li>
        </lu>
    
</div>
    
<hr>
  <!-- <form action="" name="helpForm" ng-controller="formController" ng-submit="saveData()">
    <input type="text" name="name" id="name" ng-model="name">
    <input type="button" value="submit" data-ng-click="submit(helpForm)">
  </form> -->



<!-- <table ng-controller="menuController" border="1">
        <tr ng-repeat="x in records">
            <td>{{x.Name}}</td>
            <td>{{x.Country}}</td>
        </tr>
</table> -->

</body>  
</html> 
</html>